*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    scroll-behavior: smooth;
}

body{
    background-color: #0D0D0D;
}

h1,h2,h3{
    font-family: 'Patrick Hand', cursive;
}

p, a,span, li{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

/* Menu */

nav.desktop{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #0d0d0dc3;
    color: crimson;
    position: fixed;
    width: 100%;
    z-index: 3;
}

nav.desktop ul{
    list-style-type: none;
}

nav.desktop ul li{
    display: inline;
    padding: 20px;
    position: relative;
    top: 10px;
    font-size: 18px;
}

nav.desktop a{
    color: crimson;
}

nav.desktop ul.menu a{
    border-bottom: 3px solid transparent;
}

nav.desktop ul.menu a:hover{
    border-color: purple;
    transition: 0.5s;
    animation: piscar 1.5s infinite;
}

nav.desktop ul.icons li{
    position: relative;
    padding: 10px;
}

nav.desktop ul.icons li i{
    position: relative;
    font-size: 1.5em;
}

nav.desktop ul.icons li i:hover{
    animation: subir 1s infinite;
}

nav.desktop span{
    color: purple;
}

nav.desktop p{
    font-size: 2em;
}

/* *** */

/* Menu mobile */

button{
    padding: 5px 20px;
    font-size: 2em;
    color: crimson;
    border: none;
    background-color: #0d0d0d8e;
    cursor: pointer;
    display: none;
    position: fixed;
    width: 100%;
    text-align: right;
    z-index: 3;
}

.menu-mobile{
    text-align: center;
    font-size: 2em;
    display: none;
    line-height: 2em;
    height: 100vh;
    background-color: #1E1E1E;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.menu-mobile ul{
    position: relative;
    top: 30%;
}

.menu-mobile ul li a{
    color: crimson;
}

/* *** */

/* Banner */

.banner{
    padding: 150px;
    display: flex;
    justify-content: space-between;
    background-color: #0D0D0D;
    color: crimson;
    font-size: 1.5em;
}

.banner h2{
    color: white;
    border-right: 4px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: escrever 4s steps(33), piscar 0.5s infinite step-end alternate;
}

.banner p{
    line-height: 3em;
}

.bola{
    background-color: purple;
    border-radius: 100%;
    width: 400px;
    height: 300px;
}

.bola img{
    width: 400px;
    height: 250px;
    animation: subir-mais 3s infinite;
    position: relative;
    z-index: 0;
}

/* *** */

/* About */

#about{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px 2%;
    background-color: #1E1E1E;
}

#about div{
    padding: 40px;
}

#about .foto{
    display: block;
    width: 250px;
    height: 350px;
    background-image: url('../imgs/foto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 200px;
}

#about div p{
    color: white;
    font-size: 1.3em;
    line-height: 2em;
    text-align: justify;
}

/* *** */

/* Projects */

#projects{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
}

.project-single{
    text-align: center;
    width: 290px;
    height: 290px;
    padding: 10px;
    background-color: gray;
    color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.project-single h2{
    position: relative;
    top: 20px;
}

.project-single p{
    position: relative;
    top: 40%;
}

.project-single img{
    width: 250px;
}

.project-single:hover{
    filter: brightness(80%);
    transition: .2s;
}

.project-single:hover .hidden{
    display: block;
    transition: .5s;
}

.hidden{
    width: 100%;
    height: 100%;
    z-index: 4;
    position: relative;
    top: -50%;
    display: none;
    color: crimson;
    filter: brightness(100%);
}

.hidden a{
    color: crimson;
}

.hidden a:hover{
    animation: subir 1s infinite;
    position: relative;
}

.hidden i{
    font-size: 2.5em;
    padding: 10px;
}

/* *** */

/* Skills */

#skills{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 50px;
}

.center{
    text-align: center;
    color: white;
    font-size: 2em;
    font-weight: normal;
    margin-top: 20px;
}

.card{
    background-color: gray;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 10px;
    text-transform: uppercase;
    border-top-left-radius: 20px;
    border-bottom: 5px solid red;
    animation: trocaCor 3s infinite;
}

/* *** */

/* Courses */

#courses{
    color: white;
    text-align: center;
    background-color: #1E1E1E;
    padding-top: 50px;
}

#courses h2{
    font-size: 2em;
    font-weight: normal;
}

#courses div{
    padding: 10px 2%;
}

#courses div:last-child {
    padding-bottom: 40px;
}

#courses a{
    text-decoration: none;
    padding: 10px;
    background-color: crimson;
    color: white;
    font-size: 1.5em;
    border-radius: 15px;
    position: relative;
    top: 15px;
}

/* *** */

/* Contact */

#contact{
    padding: 100px 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact h2{
    color: white;
    font-weight: normal;
    line-height: 3em;
}

#contact ul.icons li{
    display: inline;
}

#contact ul.icons li i{
    font-size: 3em;
    padding: 10px;
    color: crimson;
    position: relative;
}

#contact ul.icons li i:hover{
    animation: subir 1s infinite;
    color: purple;
    transition: .5s;
}

/* *** */

/* Footer */

footer{
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
    color: white;
}

footer a{
    color: crimson;
}

footer a:hover{
    color: rgb(158, 16, 45);
    transition: .5s;
}

/* *** */

/* Animacoes */

@keyframes subir {
    0%{
        top: 0;
    }

    50%{
        top: -5px;
    }

    100%{
        top: 0;
    }
}

@keyframes subir-mais {
    0%{
        top: 0;
    }

    50%{
        top: -50px;
    }

    100%{
        top: 0px;
    }
}

@keyframes trocaCor{
    0%{
        border-color: red;
    }

    10%{
        border-color: purple;
    }

    50%{
        border-color: crimson;
    }

    100%{
        border-color: purple;
    }
}

@keyframes escrever {
    from{
        width: 0;
    }

    to{
        width: 98%;
    }
}

@keyframes piscar {
    50%{
        border-color: transparent;
    }
}

/* *** */

/* Responsivo */

@media screen and (max-width: 848px){
    #btn{
        display: block;
    }

    nav.desktop{
        display: none;
    }

    .banner{
        flex-direction: column-reverse;
        padding: 90px 10px;
        text-align: center;
    }

    .banner h2{
        font-size: .9em;
        white-space: wrap;
        padding: 1 2%;
    }

    #about .foto{
        width: 230px;
        height: 230px;
        padding: 30px 30px;
    }

    .bola{
        margin: 0 auto;
        max-width: 200px;
        max-height: 200px;
    }

    .bola img{
        width: 80%;
        height: 60%;
    }

    #about{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 950px) {
    .banner{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    nav.desktop p{
        font-size: 1em;
        position: relative;
        top: 10px;
    }
}

@media screen and (max-width: 1060px) {
    .banner{
        padding: 150px 90px;
        width: 100%;
    }
}

/* *** */