*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,h2,h3{
    font-family: 'Patrick Hand', cursive;
}

p, a,span{
    font-family: 'Roboto', sans-serif;
}

nav{
    grid-area: navegacao;
    background-color: gray;
    padding: 60px;
    margin-right: 20px;
    position: fixed;
    height: 100%;
}

nav li{
    list-style: none;
    margin-top: 20px;
}


nav a{
    text-decoration: none;
    color: white;
    font-size: 2em;
    padding: 10px 20px;
}

nav a:hover{
    background-color: rgb(187, 187, 187);
}

main{
    grid-area: conteudo;
}

.inicio{
    display: flex;
    margin-top: 10px;
}

.inicio img{
    width: 50%;
    border-radius: 100%;
}

.inicio h1{
    font-size: 3em;
}

.inicio p{
    font-size: 1.2em;
}

.inicio i{
    font-size: 1.5em;
    color: crimson;
    padding: 10px;
}

#about h2{
    text-align: center;
    border-bottom: 1px solid black;
    font-size: 2em;
    color: crimson;
}

.sobre{
    display: flex;
    margin-top: 50px;
}

.sobre div:nth-child(1){
    margin-left: 100px;
    margin-right: 150px;
}

.sobre h3{
    margin-top: 20px;
}

.cursando{
    color: darkcyan;
}

.completo{
    color: green;
}

.sobre ul li{
    list-style: none;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}

.sobre label{
    font-family: 'Roboto', sans-serif;
}

.sobre button{
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

.contact{
    display: flex;
    padding-left: 80px;
    font-size: 1.2em;
}

.contact h3{
    margin-right: 20px;
}

.contact i{
    font-size: 1.2em;
    color: crimson;
    padding: 10px;
}

.contact div:nth-child(1){
    border-right: 1px solid black;
    margin-right: 50px;
    padding: 10px;
}

.contact div:nth-child(2) input, button{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
}

.contact div:nth-child(2) textarea{
    margin-top: 10px;
    padding: 5px;
}

.contact input[type=text], textarea{
    width: 400px;
    border: none;
    box-shadow: 3px 3px 6px 0px black;
    border-radius: 10px;
}

.contact button{
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 25px;
}

.contact button:hover{
    cursor: pointer;
    background-color: rgb(134, 14, 38);
    transition: 0.5s;
}

footer{
    grid-area: rodape;
    margin-top: -50px;
    color: white;
    z-index: 1;
    padding: 10px;
}

footer a{
    text-decoration: none;
    color: crimson;
}

footer a:hover{
    color: white;
    background-color: crimson;
    padding: 10px;
    transition: 0.5s;
}

body{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: 
    'navegacao conteudo'
    'navegacao conteudo'
    'rodape conteudo';
}

.projects{
    margin-top: 50px;
    margin-bottom: 50px;
}

#contato{
    margin-top: 50px;
    margin-bottom: 50px;
}

#contato h2{
    text-align: center;
    margin-bottom: 25px;
}